__pycache__/Aula.cpython-38.pyc
__pycache__/Horario.cpython-38.pyc
__pycache__/Sala.cpython-38.pyc
dados/.~lock.horarios_teste.xlsx#
__pycache__/extrai_salas.cpython-38.pyc
__pycache__/extrai_horarios_aula.cpython-38.pyc
__pycache__/Disciplina.cpython-38.pyc
.~lock.alocacoes.csv#
dados/.~lock.horarios.xlsx#
.~lock.alocacoes_v2.csv#
.~lock.alocacoes_final.csv#
__pycache__/Fase.cpython-38.pyc
.~lock.planilha_alocacoes.csv#
.~lock.planilha_alocacoes.xlsx#
classes/__pycache__/Disciplina.cpython-38.pyc
classes/__pycache__/Disciplina.cpython-38.pyc
classes/__pycache__/Disciplina.cpython-38.pyc
__pycache__/gera_mariz_distancia.cpython-38.pyc
__pycache__/gera_planilha_saida.cpython-38.pyc
dados/.~lock.salas_2023_1.csv#
dados/.~lock.salas_testes.csv#
classes/__pycache__/Disciplina.cpython-38.pyc
.~lock.planilha_alocacoes_mat.csv#
classes/__pycache__/Disciplina.cpython-38.pyc
classes/__pycache__/Disciplina.cpython-38.pyc
arquivo_de_log.log
classes/__pycache__/Disciplina.cpython-38.pyc
classes/__pycache__/Disciplina.cpython-38.pyc
__pycache__/gera_matriz_distancia.cpython-38.pyc
classes/__pycache__/Disciplina.cpython-38.pyc
classes/__pycache__/Fase.cpython-38.pyc
classes/__pycache__/Horario.cpython-38.pyc
classes/__pycache__/Sala.cpython-38.pyc
.~lock.matriz_distancia.csv#
classes/__pycache__/Disciplina.cpython-38.pyc
classes/__pycache__/Fase.cpython-38.pyc
classes/__pycache__/Horario.cpython-38.pyc
classes/__pycache__/Sala.cpython-38.pyc
.~lock.cc_agro_med_enf.csv#
classes/__pycache__/Disciplina.cpython-38.pyc
classes/__pycache__/Disciplina.cpython-38.pyc
dados/.~lock.salas_preferenciais_2023.2.xlsx#
classes/__pycache__/Disciplina.cpython-38.pyc
classes/__pycache__/Fase.cpython-38.pyc
classes/__pycache__/Horario.cpython-38.pyc
classes/__pycache__/Sala.cpython-38.pyc
matriz_distancia.csv
classes/__pycache__/Disciplina.cpython-38.pyc
classes/__pycache__/Fase.cpython-38.pyc
classes/__pycache__/Horario.cpython-38.pyc
classes/__pycache__/Sala.cpython-38.pyc
classes/__pycache__/Disciplina.cpython-38.pyc
