__pycache__/Aula.cpython-38.pyc
__pycache__/Horario.cpython-38.pyc
__pycache__/Sala.cpython-38.pyc
dados/.~lock.horarios_teste.xlsx#
__pycache__/extrai_salas.cpython-38.pyc
__pycache__/extrai_horarios_aula.cpython-38.pyc
__pycache__/Disciplina.cpython-38.pyc
.~lock.alocacoes.csv#
dados/.~lock.horarios.xlsx#
.~lock.alocacoes_v2.csv#
.~lock.alocacoes_final.csv#
